@font-face {
  font-family: "iconfont"; /* Project id 4853105 */
  src: url('iconfont.woff2?t=1741656124499') format('woff2'),
       url('iconfont.woff?t=1741656124499') format('woff'),
       url('iconfont.ttf?t=1741656124499') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before {
  content: "\e614";
}

.icon-shangwuhezuo:before {
  content: "\e62b";
}

.icon-didian:before {
  content: "\e667";
}

.icon-xueli:before {
  content: "\e886";
}

.icon-zijin:before {
  content: "\e88f";
}

.icon-toudijianli:before {
  content: "\e6e1";
}

.icon-gongzuojingyan:before {
  content: "\e72b";
}

